.circle {
  position: relative;
}
.circle::after {
  position: absolute;
  content: "";
  border: 80px solid #2dbefc1a;
  border-radius: 50%;
  width: 672px;
  height: 672px;
  bottom: 50%;
  left: 6%;
  z-index: -1;
}
.btn-sl {
  border: 1px solid #e57709;
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
  color: white;
  border-radius: 99px;
}
.btn {
  border: 1px solid #e57709;
  padding: 13px 46px;
  border-radius: 99px;
  color: #e57709;
}
.btn:hover {
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
  color: white;
}
.text-gra {
  background: linear-gradient(90deg, #26ba5f 0%, #26ba5f 0.01%, #08b2fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.box-sha:hover {
  background: linear-gradient(90deg, #50c577 0%, #2dbefc 100%);
  color: white !important;
}
.sc-gradiant {
  background: linear-gradient(90deg, #50c577 0%, #c4eace 0.01%, #b5e8fd 100%);
}

footer {
  background: linear-gradient(90deg, #1cab55 0%, #04a4ec 100%);
  clip-path: ellipse(100% 100% at bottom center);
}

/* slide */
.image-slider {
  padding-bottom: 20px;
  z-index: 10;
}
.system-slider {
  padding-bottom: 20px;
  z-index: 10;
}
.image {
  height: auto;
  margin-bottom: 20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 10px 20px 10px;
}
.slick-arrow {
  position: absolute;
  border-radius: 99px;
  top: -69px;
  right: 101px;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
  color: white;
}

.prev-arrow {
  left: 88%;
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
}

.slick-slide {
  opacity: 10;
}

.cSlider--single > div:nth-child(1n + 2) {
  display: none;
}

.js .cSlider--single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}

.slide__img {
  position: relative;
  padding: 2%;
  margin: 0.5rem;
}

.cSlider--single .slide__img {
  line-height: 10rem;
}

.cSlider--nav .slide__img::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.slick-slide.is-active .slide__img {
  background: #f0f0f0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cSlider--nav .slick-slide {
  cursor: pointer;
}

.cSlider--nav span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.cSlider--nav span > img {
  height: 115px;
}

/* back to top */
#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
/* table */
table {
  border-collapse: collapse;
  width: 100%;
}
.scrollBox {
  position: relative;
  width: 400px;
  height: 520px;
  overflow: scroll;
  border: 1px solid silver;
}
thead {
  background: linear-gradient(90deg, #50c577 0%, #2dbefc 100%);
}

tbody td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #888888;
}
.foot-table {
  background: linear-gradient(90deg, #50c577 0%, #2dbefc 100%);
  border-radius: 0px 0px 24px 24px;
}
.slick-list {
  height: 100%;
}
.slide-prev {
  position: absolute;
  border-radius: 99px;
  top: -10%;
  right: 101px;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
  color: white;
}
.prev-arr {
  left: 82%;
  background: linear-gradient(180deg, #ffb469 0%, #e57709 100%);
}
.disc li {
  list-style: none;
}
.disc li::before {
  content: "";
  height: 12px;
  border-radius: 999px;
  background: linear-gradient(90deg, #73d090 0%, #c4eace 0.01%, #53cafb 100%);
  font-weight: bold;
  display: inline-block;
  width: 12px;
  margin-right: 8px;
}

@media (max-width: 427px) {
  footer {
    clip-path: ellipse(200% 100% at bottom center);
  }
  .circle::after {
    border: 40px solid #2dbefc1a;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .bot-slider .slick-list {
    height: 501px;
  }
  .next-arr {
    right: 6%;
  }
  .prev-arrow {
    left: 76%;
  }
  .slick-arrow{
    top: -7%;
  }
}
@media (max-width: 1024px) {
  .prev-arr {
    left: 82%;
  }
  .bot-slider .slick-list {
    height: 501px;
  }
}